:root {
    --tono: 324;
    --complementario: 54;
    --contraste: 214;

    /* paleta monocromatica principal */
    --color-principal: hsla(var(--tono), 100%, 40%, 1);
    --color-principal-medio: hsla(var(--tono), 100%, 86%, 1);
    --color-principal-claro: hsla(var(--tono), 100%, 98%, 1);
    --color-principal-oscuro: hsla(var(--tono), 100%, 15%, 1);

    /* color complementario */
    --color-complementario: hsla(var(--complementario), 100%, 48%, 1);

    /* color de contraste oscuro */
    --color-contraste-oscuro: hsla(var(--contraste), 13%, 10%, 1);
    --color-contraste-media: hsla(var(--contraste), 15%, 40%, 1);

    /* valores */
    --color-blanco: white;

    /* tipografias */
    --fuente-principal: 'Poppins', sans-serif;

    /* peso de la fuente */
    --light: 300;
    --normal: 400;
    --bold: 700;

    
}

/* configuraciones globales */
h1, h2, h3, h4, h5, h6, p, a, span {
    color: var(--color-contraste-oscuro);
    text-decoration: none;
}    

ul{
    list-style: none;
}

.light{
    font-weight: var(--light);
}

.normal{
    font-weight: var(--normal);
}
.bold{
    font-weight: var(--bold);
}

/* resetear los estilos del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
}

/* pantalla celular 0px a 764px */


/* Estructura sliders */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.page1, .page2 {
    width: 100vw;
}

.page1 {
    background-color: var(--color-blanco);
    min-height: 100vh;
    overflow: hidden;
}

.page2 {
    background-color: var(--color-blanco);
    position: absolute;
    left: 0%;
    opacity: 1;
    min-height: 100vh;
    transition: .5s all ease-in-out;
    left: 0%; /*100% = afuera / 0% = Entrar*/
    pointer-events: none;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 250px 120px;
    grid: 20px;
    grid-gap: 20px;

}

.entrar {
    left: 0%;
    pointer-events: all;
}

/* deiseno pagina 1 */
.banner {
    height: 250px;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(90deg, hsla(var(--tono), 100%, 40%, 0.75), hsla(var(--complementario),100%, 48%, 0.75),url(../img/));
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.banner_logo img{
    width: 100px;
}

.banner_title h1 {
    font-size: 1.75rem;
    color: var(--color-blanco);
}

.banner_title h2{
    font-size: 1.2rem;
    font-weight: var(--normal);
    color: var(--color-blanco);
}

.section {
    padding: 20px;
    height: auto;
}

.section_title {
    margin-bottom: .5rem;
}

.section_skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 1rem;
}

.skill {
    background-color: var(--color-principal-claro);
    padding: 0.75rem;
    border-radius: 10px;
}

.skill_txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .15rem;

}

.skill_txt h5 {
    text-transform: uppercase;

}

.skill_loader--ex {
    width: 100%;
    padding: 3px;
    background-color: var(--color-principal-medio);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem;
}

.skill_loader--int {
    height: 4px;
    background-color: var(--color-principal);
    border-radius: 1rem;
    
}

.section_skills .skill:nth-child(1) .skill_loader--int {
    width: 95%;
}

.section_skills .skill:nth-child(2) .skill_loader--int {
    width: 85%;
}

.section_skills .skill:nth-child(3) .skill_loader--int {
    width: 50%;
}
.section_skills .skill:nth-child(4) .skill_loader--int {
    width: 70%;
}

.section_btns {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    min-height: 3,5rem;
}
.section_btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .15rem;
    background-color: var(--color-complementario);
    padding: .7rem;
    font-size: .9rem;
    font-weight: 600;
    transition: .2s all ease-in-out;
}

.section_btns .bx {
    font-size: 1.3rem;
}

.section_btns a:nth-child(1) {
    background: linear-gradient(90deg, hsla(var(--tono), 100%, 40%, 1) 50%, hsla(var(--complementario), 100%, 48%, 1) 100%);
    background-size: cover;
    color: var(--color-blanco);
    background-position: 100% 100%;
    background-size: 200%;
}

.section_btns a:hover:nth-last-child(1) {
    background-position: 0% 20%;
}

.section_btns a:nth-child(2) {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    width: 130%;
}

 /*  HEADER pagina 2 */
.header {
    background-color: linear-gradient(90deg, hsla(var(--tono), 100%, 40%, 1) 0%, hsla(var(--complementario), 100%, 48%, 1));
    height: 60px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 20px;
    position: relative;
    z-index: 2;
    grid-column: 1/5;
    grid-row: 1/2;
}

.header_logo {
    width: 85px;
}

.header_a {
    color: var(--color-blanco);
    font-weight: var(--bold);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out;
}

.header_icon {
    font-size: 30px;
}

.header_a:hover {
    color: var(--color-contraste-oscuro);
    transform: scale(.9);
}

/* info pagina 2 */
.info_photo {
    grid-column: 1/3;
    position: relative;
    
}

.info_img {
    margin-top: -40px;
    height:  calc(100% + 40px);
    width: 100%;
    border-radius: 0 0 20px 0;
    object-fit: cover;
    object-position: 80%;
    
}

.info_data {
    grid-column: 3/5;
    padding: 20px 0 0 0;


}
.info_nombre {
    margin-bottom: 16px;
}

.info_nombre h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: var(--bold);
}

.info_nombre h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: var(--light);
}

.info_li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.info_icon {
    font-size: 20px;
    margin-right: 10px;
}

.info_txt p:nth-child(1) {
    font-size: 10px;

}

.info_txt p:nth-child(2) {
    font-size: 12px;
    font-weight: var(--bold);
}

/* Profile 2 */
.profile {
    padding: 0 20px;
    margin-bottom: 25px;
    grid-column: 1/5;
    grid-row: 3/4;
}

.profile_title {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.profile_title i {
    font-size: 15px;
    margin-right: 5px;
}

.profile_title h2 {
    font-size: 16px;
    text-transform: uppercase;
}

.profile_txt p {
    font-size: 12px;
    font-weight: var(--light);
    line-height: 20px;
}

.studies {
    padding: 0 20px;
    margin-bottom: 25px;
    grid-column: 1/5;
    grid-row: 4/5;
}

.studies_titulo {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.studies_titulo i {
    font-size: 15px;
    margin-right: 5px;
}

.studies_titulo h2 {
    font-size: 16px;
    text-transform: uppercase;
}

.studies_info table {
    font-size: 12px;
}

.studies_info td {
    padding-bottom: 2px;

}

.studies_year {
    font-weight: var(--bold);
    padding-right: 15px;
}

/* Posicionar social bar */
.rrss {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: center;
    min-width: calc(100% - 40px);

}

.rrss_txt {
    background-color: var(--color-blanco);
    padding: .4rem 1rem .25rem 1rem;
    border-radius: 1rem 1rem 0 0 ;
    box-shadow: 0 0 10px hsla(var(--contraste), 100%, 20%, .2);
}

.rrss_txt p {
    font-size: 0,85rem;
}

.rrss_icons {
    background-color: var(--color-contraste-oscuro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: .35rem;
    width: 100%;
    border-radius: 1.2rem;
}

.rrss_icons a {
    color: var(--color-blanco);
    font-size: 2.5rem;
    transition: .3s all ease-in-out;
}

.rrss_icons a:hover {
    color:var(--color-principal);
    transform: scale(1.2);
}

.rrss_icons a:nth-child(3) .bx {
    font-size: 2.1rem;
}

/* pantalla tablet 764 px a 1024px */
@media screen and (min-width: 764px){

    .banner {
        height: 35%;
        padding: 40px;
        border-radius: 0 0 30px 30px;
    }

    .banner_logo img {
        width: 120px;
    }
    .banner_title h1 {
        font-size: 2rem;
    }

    .section {
        padding: 40px;
        height: auto;
    }

    .section_title {
        margin-bottom: 1rem;
    }

    .section_title h3 {
        font-size: 1.35rem;
    }

    .section_skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-bottom: 30px;
    }

    .skill {
        background-color: var(--color-principal-claro);
        padding: 1rem;
        border-radius: 20px;
    }

    .skill_txt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .skill_txt h5, .skill_txt span {
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    .skill_loader--ex{
        width: 100%;
        padding: 7px;
        background-color: var(--color-principal-medio);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 1rem;
    }
    .skill_loader--int {
        height: 7px;
        background-color: var(--color-principal);
        border-radius: 1rem;
    }

    .section_btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        min-height: 3.5rem;
    }

    .section_btns a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .15rem;
        background-color: var(--color-complementario);
        padding: 2rem;
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: 600;

    }

    .section_btns .bx {
        font-size: 1.75rem;
    }

    .section_btns a:nth-child(2){
        width: 113%;
        border-radius: 20px 0 0 20px;
    }

    /* Diseno Pagina 2 tablet */
    .page2 {
        background-color: var(--color-blanco);
        position: absolute;
        opacity: 1;
        min-height: 100vh;
        transition: .5s all ease-in-out;
        pointer-events: none;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80px minmax(370px, 30vh) 170px;
    }

    .entrar {
        left: 0%;
        pointer-events: all;
    }

    .header {
        background: linear-gradient(90deg, hsla(var(--tono), 100%, 40%, 1) 0%, hsla(var(--complementario),100%, 48%, 1) 100%);
        height: 80px;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
        position: relative;
        z-index: 2;
    }

    .header_logo {
        width: 120px;
    }

    .header_a {
        color: var(--color-blanco);
        font-weight: var(--bold);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .2s ease-in-out;

    }

    .header_icon {
        font-size: 35px;
    }

    .header_a:hover {
        color: var(--color-contraste-oscuro);
        transform: scale(.9);
    }

    /*info photo tablet*/
    .info_photo {
        grid-column: 1/3;
        position: relative;
    }

    .info_data{
        grid-column: 3/5;
        padding: 40px 0 0 0;
    }
    .info_nombre {
        margin-bottom: 16px;
    }

    .info_nombre h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: var(--bold);
    }

    .info_nombre h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: var(--light);
    }

    .info_li{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    .info_icon i {
        font-size: 30px;
        margin-right: 10px;
    }
    .info_txt p:nth-child(1) {
        font-size: 15px;
    }
    .info_txt p:nth-child(2) {
        font-size: 20px;
        font-weight: var(--bold);
    }
    /* profile pag2 */
    .profile {
        padding: 20px 40px;
        margin-bottom: 30px;
    }

    .profile_title {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }

    .profile_title i {
        font-size: 25px;
        margin-right: 5px;
    }

    .profile_title h2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    .profile_txt p {
        font-size: 160px;
        font-weight: var(--light);
        line-height: 24px;
    }

    /* studies pag 2 tablet */
    .studies {
        padding: 0 40px;
        margin-bottom: 25px;
    }

    .studies_titulo {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }

    .studies_titulo i {
        font-size: 25px;
        margin-right: 5px;
    }

    .studies_titulo h2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    .studies_info table {
        font-size: 16px;
    }

    .studies_info td {
        padding-bottom: 2px;
    }

    .studies_year {
        font-weight: var(--bold);
        padding-right: 15px;
    }

    /* posicionar bar flotante */
    .rrss{
        position: fixed;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: calc(75% - 80px);
    }

    .rrss_txt {
        padding: .4rem 1.5rem .25rem 1.5rem;
        border-radius: 1rem 1rem 0 0;
    }

    .rrss_txt p{
        font-size: 1.2rem;
    }

    .rrss_icons {
        padding: 1rem;
        border-radius: 30px;
    }

/* Pantalla de Escritorio */
    @media screen and (min-width: 1024px){
        /* Pagina 1 Escritorio*/
    }
    .page1 {
        display: flex;
    }
    .banner {
        width: 40%;
        height: 100%;
        border-radius: 0 40px 40px 0;
        background-position: 80% 0;
        padding: 4rem;
    }
    .banner_logo img {
        width: 150px;
    }
    .banner_title h1 {
        font-size: 3rem;
    }

    .banner_title h2 {
        font-size: 2rem;
    }
    /* section skills Escritorio */
    .section {
        width: 55%;
        padding: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section_title {
        margin-bottom: 2rem;
    }
    .section_title h3 {
        font-size: 3rem;
    }

    .section_skills {
        height: 40%;
    }

    .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        border-radius: 1.5rem;
    }
    .skill h5, .skill_txt span {
        font-size: 1.75rem;
    }

    .skill_loader--ex {
        padding: 12px;
    }

    .skill_loader--int {
        height: 10px;
    }

    /* BOtones */
    .section_btns {
        background-color: red;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        min-height: 3.5rem;
    }
    .section_btns a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .15rem;
        background-color: var(--color-complementario);
        padding: 2.5rem;
        border-radius: 30px;
        font-size: 2rem;
        font-weight: 600;
    }
    .section_btns .bx{
        font-size: 3.5rem;
    }

    .section_btns a:nth-child(2){
        width: 100%;
        border-radius: 30px;
    }

    /* Diseno pagina 2 Escritorio */
    .page2 {
        background-color: var(--color-blanco);
        position: absolute;
        opacity: 1;
        min-height: 100vh;
        transition: .5s all ease-in-out;
        left: 0%;
        pointer-events: none;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 120px minmax(70px, 27vh), minmax(150px, 25vh);

    }
    .entrar {
        left: 0%;
        pointer-events: all;
    }
    /* Header pagina2 */
    .header {
        background: linear-gradient(90deg, hsla(var(--tono), 100%, 40%, 1)0%, hsla(var(--complementario), 100%, 48%, 1) 100%);
        height: 120px;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
        position: relative;
        z-index: 2;
        grid-column: 1/13;
    }

    .header_logo {
        width: 200px;

    }
    .header_a {
        color: var(--color-blanco);
        font-weight: var(--bold);
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all ,2s ease-in-out;
    }

    .header_icon {
        font-size: 70px;
    }
    .header_a:hover {
        color: var(--color-contraste-oscuro);
        transform: scale(.9);
    }

    
}